<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cau.study_202">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="!!홈!!홈!!홈!!홈!!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search_Studyboard"
            android:label="스터기 구인 게시판"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".member.MemberActivity"
            android:label="스터디 멤버"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".GroupActivity"></activity>

        <activity
            android:name=".BoardList"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="스터기 구인 게시판"/>

        <activity
            android:name=".Studyrequest"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="스터기 구인 게시판"/>

    </application>

</manifest>